<%= page_title "Qui es-tu ?" %>

<% form_tag(session_url(:protocol => protocol)) do -%>
  <p><label for="login">Nom d'utilisateur</label><br/>
  <%= text_field_tag 'login' %></p>

  <p><label for="password">Mot de passe</label><br/>
  <%= password_field_tag 'password' %></p>

  <p><label for="remember_me">Garder un cookie sur cet ordinateur ?</label>
  <%= check_box_tag "remember_me" %></p>

  <p><%= submit_tag "Ouvrir une session" %></p>
<% end -%>

<p><%= link_to "S'enregistrer", new_person_path %></p>
