<%= page_title "On s'enregistre ?" %>

<% form_for @person, :url => people_path do |f| -%>
  <%- unless logged_in? then %>
    <%= error_messages_for :family %>
    <% fields_for(@family) do |fa| %>
      <p><label for="family_name">Nom de la famille</label><br/>
      <%= fa.text_field :name %></p>
    <% end -%>
  <% end -%>

  <%= render :partial => "form" %>

  <p><%= submit_tag "S'enregistrer" %></p>
<% end -%>
