<table id="<%= id %>" class="budget">
  <col width="*2"/>
  <colgroup>
    <% 3.times do %>
      <col class="budgeted amount" width="*1"/>
      <col class="real amount" width="*1"/>
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th rowspan="2"><%=h name %></th>
      <%= render :partial => "budget_head", :collection => periods %>
    </tr>
    <tr>
      <%- 3.times do -%>
        <th class="budget">Budgété</th>
        <th class="amount real">Réel</th>
      <%- end -%>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Totaux</td>
      <%= render :partial => "total", :collection => periods, :locals => {:accounts => accounts} %>
    </tr>
  </tfoot>
  <tbody>
    <%= render :partial => "account", :collection => accounts, :locals => {:periods => periods} %>
  </tbody>
</table>
