<tr id="<%= dom_id(bank_transaction) %>">
  <td><abbr title="<%= bank_transaction.posted_on.to_s(:db) %>"><%= i18n_date(bank_transaction.posted_on) %></abbr></td>
  <td>
    <span class="handle">Transfert</span>
    <span class="account"><%=h bank_transaction.bank_account %></span>
    <p><%= [bank_transaction.name, bank_transaction.memo].reject(&:blank?).join("<br/>") %></p>
  </td>
  <td class="amount"><%= format_money(bank_transaction.amount) %></td>
  <td>
    <%= submit_tag "Traiter", :class => "process", :name => "" %>
  </td>
</tr>
