<%= yield :navbar %>
<ul class="navigation">
  <li class="dashboards first"><%= link_to "Graphiques", root_path %></li>
  <li class="imports"><%= link_to "Importer des transactions banquaires", new_import_url(:protocol => protocol) %></li>
  <li class="transactions"><%= link_to "Gérer mes transactions banquaires", bank_transactions_path %></li>
  <li class="budgets"><%= link_to "Gérer mon budget", budget_path %></li>
  <li class="transfers"><%= link_to "Gérer mes transferts", transfers_path %></li>
  <li class="accounts"><%= link_to "Gérer mes comptes", accounts_path %></li>
  <li class="bank_accounts"><%= link_to "Gérer mes comptes de banques", bank_accounts_path %></li>
  <li class="people"><%= link_to "Ma famille", people_path %></li>
  <li class="sessions last"><%= link_to "Fermer ma session", session_path, :method => :delete %></li>
</ul>
