<%= page_title "Mon État Courant" %>
<h2>Nouvelle Transaction</h2>
<table id="newxfer">
  <col width="*1"/>
  <col width="*1"/>
  <col width="*1"/>
  <col width="*1"/>
  <caption>Aujourd'hui, <span id="current_date"><%= render_current_date %></span>, j'ai&hellip;</caption>
  <tr>
    <td>
      <h3>Acheté un produit ou un service</h3>
      <%= mini_form :bought, :from => @expenses, :with => @assets + @liabilities, :from_label => "Quoi ?", :with_label => "Avec quel compte ?", :amount_label => "Et ça m'a coûté:" %>
    </td>
    <td>
      <h3>Remboursé une dette</h3>
      <%= mini_form :reimbursed, :from => @liabilities, :with => @assets, :from_label => "Laquelle ?", :with_label => "À partir de ?", :amount_label => "Combien" %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3>Reçu un revenu</h3>
      <%= mini_form :received, :from => @incomes, :with => @assets + @liabilities, :from_label => "De ?", :with_label => "Déposé dans ?", :amount_label => "Combien ?" %>
    </td>
  </tr>
</table>
