<% page_title "Sommaire des mouvements d'argent" %>

<div id="pie-wrap">
  <div id="expenses">
    <h3>Sommaire des dépenses</h3>
    <%= pie_chart(most_active_expense_accounts.map {|account| [account.name, account.amount]}, :title => "Comptes de dépense les plus actifs (#{current_period})", :size => "320x140") %>
    <table>
      <caption>Comptes de dépenses les plus actifs</caption>
      <thead>
        <th>Compte</th>
        <th>Montant</th>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td class="amount"><%= format_money(total_expenses_amount) %></td>
        </tr>
      </tfoot>
      <tbody>
        <%= render :partial => "account", :collection => most_active_expense_accounts %>
      </tbody>
    </table>
  </div>
  <div id="incomes">
    <h3>Sommaire des revenus</h3>
    <%= pie_chart(most_active_income_accounts.map {|account| [account.name, account.amount]}, :title => "Comptes de revenus les plus actifs (#{current_period})", :size => "320x140") %>
    <table>
      <caption>Comptes de revenus les plus actifs</caption>
      <thead>
        <th>Compte</th>
        <th>Montant</th>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td class="amount"><%= format_money(total_incomes_amount) %></td>
        </tr>
      </tfoot>
      <tbody>
        <%= render :partial => "account", :collection => most_active_income_accounts %>
      </tbody>
    </table>
  </div>
</div>

<div id="history">
  <%= line_chart({"Revenus" => [total_incomes_per_period, "00ff00"], "Dépenses" => [total_expenses_per_period, "ff0000"]}, :size => "480x200", :title => "Variation des revenus et dépenses") %>
</div>
