<% page_title "Sommaire des mouvements d'argent" %>

<div id="pie-wrap">
  <div class="inline-nav">
    <%= link_to("&laquo; #{@previous_period.to_s(:db)}", root_url(:period => @previous_period.to_s(:period)), :class => "prev") if @previous_period %>
    <%= link_to("#{@next_period.to_s(:db)} &raquo;", root_url(:period => @next_period.to_s(:period)), :class => "next") if @next_period %>
  </div>
  <div id="expenses">
    <h3>Sommaire des dépenses</h3>
    <%= pie_chart(most_active_expense_accounts.map {|account| [account.name, account.amount]}, :title => "Comptes de dépense les plus actifs (#{current_period})", :size => "320x140") %>
    <table>
      <caption>Comptes de dépenses les plus actifs</caption>
      <thead>
        <th>Compte</th>
        <th>Montant</th>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td class="amount"><%= format_money(total_expenses_amount) %></td>
        </tr>
      </tfoot>
      <tbody>
        <%= render :partial => "account", :collection => most_active_expense_accounts %>
      </tbody>
    </table>
  </div>
  <div id="incomes">
    <h3>Sommaire des revenus</h3>
    <%= pie_chart(most_active_income_accounts.map {|account| [account.name, account.amount]}, :title => "Comptes de revenus les plus actifs (#{current_period})", :size => "320x140") %>
    <table>
      <caption>Comptes de revenus les plus actifs</caption>
      <thead>
        <th>Compte</th>
        <th>Montant</th>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td class="amount"><%= format_money(total_incomes_amount) %></td>
        </tr>
      </tfoot>
      <tbody>
        <%= render :partial => "account", :collection => most_active_income_accounts %>
      </tbody>
    </table>
  </div>
</div>

<div id="history">
  <%= expense_and_income_history_graph %>
</div>
