<%= error_messages_for :transfer %>

<% fields_for(@transfer) do |f| %>
<p>
  <label for="transfer_posted_on">En date du</label><br />
  <%= f.date_select :posted_on %>
</p>

<p>
  <label for="transfer_debit_account_id">Débiter</label><br/>
  <%= f.select :debit_account_id, @accounts %>
</p>

<p>
  <label for="transfer_credit_account_id">Créditer</label><br/>
  <%= f.select :credit_account_id, @accounts %>
</p>

<p>
  <label for="transfer_amount">Montant</label><br/>
  <%= f.text_field :amount, :value => amount(@transfer.amount) %>
</p>

<p>
  <label for="transfer_description">Description</label><br />
  <%= f.text_field :description %>
</p>
<% end -%>
