<%= page_title "Modifier une transaction" %>

<% form_for(transfer) do |f| %>
  <%= render :partial => "form" %>

  <p>
    <%= f.submit "Enregistrer" %>
  </p>
<% end %>

<p>
<%= button_to "Détruire", transfer, :method => "delete" %>
<%= link_to "Retour à la liste", transfers_path %>
</p>
