<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%=h @page_title %></title>
  <%= stylesheet_link_tag "scaffold", "application" %>
  <%= javascript_include_tag :defaults %>
</head>
<body class="<%= body_classes %>">
  <table id="container" cellspacing="0" cellpadding="0">
    <tr>
      <td id="header" colspan="3">
        Notre Budget
        <span>Gérer son argent, simplement</span>
      </td>
    </tr>
    <tr>
      <td id="nav">
        <%= render :partial => current_family ? "shared/navigation" : "shared/unauthenticated" %>
      </td>
      <td id="main">
        <%= yield  %>
      </td>
      <td id="calendar">
        <%= calendar %>
      </td>
    </tr>
  </table>
</body>
</html>
