<%= page_title "Liste des comptes" %>

<% form_tag(accounts_path, :method => "get") do %>
  <label>Voir seulement: <%= select_tag "purpose", options_for_select(@purposes, @purpose) %></label>
  <%= submit_tag "Go", :name => nil %>
<% end %>

<p><%= link_to "Nouveau compte", new_account_path %></p>
<table id="accounts">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "account", :collection => @accounts %>
  </tbody>
</table>
