<div class="inline-nav">
  <%= link_to("&laquo; #{@previous_account.name}", @previous_account, :class => "prev") if @previous_account %>
  <%= link_to("#{@next_account.name} &raquo;", @next_account, :class => "next") if @next_account %>
</div>
<h1><%=h @account.name %></h1>
<%= account_spending_history(@account, @dates) %>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Détails</th>
      <th>Montant</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "transfer", :collection => current_family.transfers.for_account(@account).within_period(@dates.sort.first .. @dates.sort.last).all(:order => "posted_on") %>
  </tbody>
</table>
